li {
    cursor: pointer;
    padding: 0px 8px;
    border: 2px solid black;
    background: rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.selected {
    background-color: white;
}

.contacts {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 900px;
    gap: 100px;
    margin: auto;
    margin-top: 150px;
}

.contacts > div {
    width: 200px;
    height: 150px;
    box-shadow: 10px 5px 15px darkgray;
    background-color: rgb(255 255 255 / 28%);
}

.menus {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: end;
}

.item > div:nth-child(1), .item > div:nth-child(2) {
    justify-self: start;
}

.item > div:nth-child(1), .item > div:nth-child(3) {
    align-self: start;
}

.item > div:nth-child(2) {
    font-size: 10px;
    font-style: italic;
}