li {
    cursor: pointer;
    padding: 0px 8px;
    border: 2px solid black;
    background: rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.selected {
    background-color: white;
}

.contacts {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 900px;
    gap: 100px;
    margin: auto;
    margin-top: 150px;
}

.contacts > div {
    width: 200px;
    height: 150px;
    box-shadow: 10px 5px 15px darkgray;
    background-color: rgb(255 255 255 / 28%);
}